#header{
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    .navbar-left{
        margin-left: 8%;
        li{
            padding-left: 5px;
        }
    }
    .navbar-right{
        margin-right: 4%;
        .phone{
            padding-left: 5px;
            display: flex;
            align-items: center;
            i{
                width: 35px;
                height: 35px;
                border-radius: 50%;
                background: linear-gradient(116.88deg, #FE3326 -4.28%, #F26E0E 112.69%), #59AAF1;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #fff;
            }
            a{
                font-weight: $main_font-weight;
            }
        }
    }
}